a {
    text-decoration: none !important;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 1%;
}


body{
    background-color: #333333;
    color: white;
    text-align: center;
    
}

.menu_current{
    color: red;
}

@media (max-width: 991px){
    body{
        font-size: 300%;
    }
}