.menu_cases{
    color: #DE2700;
}

.gallery-wrapper{
    text-align: center;
    display: flex;
    
}



.gallery{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
    
}



.gallery:hover{
    
    font-size: xx-large;
}

.gallery:hover .gallery-img{
    width: 40%;
    
}

.gallery-img{
    width: 28%;
  
}




@media (max-width:991px) {
    .gallery-wrapper{
        display: contents;
    }

    .gallery-img{
        width: 50%;
    }
    
    
}
